@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
            @media (max-width: 767px) {
                padding-left: 20px;
                font-size: 22px;
            }
            @media (max-width: 575px) {
                padding-left: 10px;
                padding-top: 0;
                font-size: 19px;
            }
        }
        @media (max-width: 767px) {
            padding-left: 5px;
            padding-right: 5px;
        }
        @media (max-width: 575px) {
            grid-template-columns: auto auto;
            align-items: center;
            img {
                width: 100px;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}